
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

 
  <meta property="og:title" content="">
  <meta property="og:image" content="">
  <meta property="og:url" content="">
  <meta property="og:site_name" content="">
  <meta property="og:description" content="">

  <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="">
  {% block title %}<title>Doggosalvataggio</title>{% endblock %}

  {% load static %}
  <link rel="icon" href="{% static 'img/logoo1.png' %}">

  <link href="favicon.ico" rel="shortcut icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">


  <!-- Libraries CSS Files -->
  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/animate-css/animate.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  

</head>

<body>
  <div id="preloader"></div>

  <!--==========================
  Hero Section
  ============================-->
  <section id="hero">
    
    <div class="hero-container">
      <div class="wow fadeIn">
        
        <div class="hero-logo">
          
          <img class="" src="{% static 'img/logo2.png' %}" >
        </div>

        <h1>Bienvenidos a Doggosalvataggio 🐶</h1>

        <h2><span class="rotating">Somos tu solucion Introducete mas a fondo con nosotros</span></h2>

        <div class="actions">
          <a href="/index/#about" class="btn-get-started">Empezar</a>
          <a href="/index/#services" class="btn-services">Nuestros Servicios</a>
          

        </div>
      </div>
    </div>
  </section>

  <!--==========================
  Sección de encabezado
  ============================-->
  <header id="header">
    <div class="container">
      <div id="logo" class="pull-left">
       <!-- <a href="#hero"><img src="{% static 'img/logo.png' %}" alt="" title="" /></img></a>-->
        <!-- Descomenta abajo si prefieres usar una imagen de texto -->
        <h1><a href="#hero">DOGGOSALVATAGGIO 🐶 </a></h1>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active" ><a href="{% url 'inicio' %}">inicio</a></li>
          
          <!--<li><a href="{% url 'college' %}">Collage</a></li>-->
          <li><a href="{% url 'veterinarios' %}">Veterinarios</a></li>
          <li><a href="{% url 'animalcosas' %}">Implementos</a></li>
          <li ><a href="{% url 'contacto' %}">Contáctanos</a></li>
          <li  ><a href="{% url 'login' %}">Ingresa</a></li>
          
        </ul>
      </nav>
      <!-- #nav-menu-container terminacion -->
      
    </div>
  </header>
  <!-- #header termino -->

  {% block content %}
  {% endblock %}
  
  

  <!--==========================
  Footer
============================-->
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="copyright">
            &copy; Derechos de autor  <strong>DOGGOSALVATAGGIO </strong>. Reservados todos los derechos 
          </div>
          <div class="credits">
        
            Derechos de <a>DOGGOSALVATAGGIO 🐶</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- Required JavaScript Libraries -->
  <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'lib/superfish/hoverIntent.js' %}"></script>
  <script src="{% static 'lib/superfish/superfish.min.js' %}"></script>
  <script src="{% static 'lib/morphext/morphext.min.js' %}"></script>
  <script src="{% static 'lib/wow/wow.min.js' %}"></script>
  <script src="{% static 'lib/stickyjs/sticky.js' %}"></script>
  <script src="{% static 'lib/easing/easing.js' %}"></script>

  <!-- Template Specisifc Custom Javascript File -->
  <script src="{% static 'js/custom.js' %}"></script>
  <script src="{% static 'js/formulario.js' %}"></script>
  <script src="{% static 'js/mascota.js' %}"></script>
  <script src="{% static 'contactform/contactform.js' %}"></script>



   <!--  JavaScript -->
    
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!--Librerias de lightbox en js-->
  <script src="{%static 'js/lightbox-plus-jquery.min.js'%}"></script>
  <script src="{%static 'js/lightbox.min.js'%}"></script>
  <script src="{%static 'js/app.js'%"></script>

  <!--  CSS lightbox -->
  <link rel="stylesheet" href="{% static 'css/lightbox.min.css'%}">
  <link rel="stylesheet" href="{% static 'css/styles.css'%}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
  
  


</body>

</html>
