{% extends "base_generic.html" %}

{% block content %}

    {% load static %}

    
    <hr class="featurette-divider">
    </div>
    <div class="container">
      <h1>Momentos Inmemorables: </h1>
      <hr>

    </div>

    <div class="gallery-container">
        <div class="gallery-card">
            <a href="{% static 'images/1.jpg'%}" data-lightbox="roadtrip"><img src="{% static 'images/1.jpg'%}" alt="Imagen"></a>
        </div>

        <div class="gallery-card">
            <a href="{% static 'images/2.jpg'%}" data-lightbox="roadtrip"><img src="{% static 'images/2.jpg'%}" alt="Imagen"></a>
        </div>

        <div class="gallery-card">
            <a href="{% static 'images/3.jpg'%}" data-lightbox="roadtrip"><img src="{% static 'images/3.jpg'%}" alt="Imagen"></a>
        </div>

        <div class="gallery-card">
            <a href="{% static 'images/4.jpg'%}" data-lightbox="roadtrip"><img src="{% static 'images/4.jpg'%}" alt="Imagen"></a>
        </div>

        <div class="gallery-card">
            <a href="{% static 'images/5.jpg'%}" data-lightbox="roadtrip"><img src="{% static 'images/5.jpg'%}" alt="Imagen"></a>
        </div>

        <div class="gallery-card">
            <a href="{% static 'images/6.jpg'%}" data-lightbox="roadtrip"><img src="{%static 'images/6.jpg'%}" alt="Imagen"></a>
        </div>
    </div>

    {% endblock %}