{% extends "base_generic.html" %}

{% block content %}

    {% load static %}


    <!--==========================
      Contact Section
      ============================-->
      <section id="contact">
        <div class="container wow fadeInUp">
          <div class="row">
            <div class="col-md-12">
              <h3 class="section-title">Contáctanos El barto estuvo aqui</h3>
              <div class="section-title-divider"></div>
              <p class="section-description">Si quieres saber mas de nosotros rellena este apartado y contáctanos</p>
            </div>
          </div>
    
          <div class="row">
            <div class="col-md-3 col-md-push-2">
              <div class="info">
                <div>
                  <i class="fa fa-map-marker"></i>
                  <p>Duoc UC<br>Maipu</p>
                </div>
    
                <div>
                  <i class="fa fa-envelope"></i>
                  <p>info@gmail.com</p>
                </div>
    
                <div>
                  <i class="fa fa-phone"></i>
                  <p>+569 42234987</p>
                </div>
    
              </div>
            </div>
    
            <div class="col-md-5 col-md-push-2">
              <div class="form">
                <div id="sendmessage">Tu mensaje se a enviando Correctamente. Gracias!</div>
                <div id="errormessage"></div>
                <form action="" method="post" role="form" class="contactForm">
                  <div class="form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Ingresa tu nombre" data-rule="minlen:4" data-msg="Por favor ingrese al menos 4 caracteres" />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Ingresa tu Email" data-rule="email" data-msg="Ingresa un Correo Valido" />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Asunto" data-rule="minlen:4" data-msg="Por favor ingrese un mensaje valido" />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group">
                    <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Por favor escribe algo para nosotros" placeholder="Ingresa un mensaje"></textarea>
                    <div class="validation"></div>
                  </div>
                  <div class="text-center"><button type="submit">Enviar mensaje</button></div>
                </form>
              </div>
            </div>
    
          </div>
        </div>
      </section>
    


 {% endblock %}





