{% extends "base_generic.html" %}

{% block content %}

    {% load static %}

    <section id="about">
        <div class="container wow fadeInUp">
          <div class="row">
            <div class="col-md-12">
              <h3 class="section-title">Sobre Nosotros</h3>

              <div class="section-title-divider"></div>
              <p class="section-description">Somos una comunidad social que busca innovar y entregar servicios a personas con interes animal</p>
            </div>

          </div>
        </div>

        <div class="container about-container wow fadeInUp">

          <div class="row">

            <div id="foto" class="col-md-5" ">
              <img class="" src="{% static 'img/logoperro1.jpg' %}" style="width: 100%;" >
            </div> 
            
            <div class="col-md-6 about-content">
              

              <h2 class="about-title">Brindamos excelentes servicios e ideas </h2>
              <p class="about-text">
                Nosotros con nuestra pagina le entregaremos al usuario poder interactuar con demas personas en un ambiente muy agradable y confiable.
              </p>
              <p class="about-text">
                Por otra parte nosotros como comunidad buscamos formar o crear una red social donde sea especialmente dirigida a personas amante a los animales especialmente perros
                buscando así que dentro de la página ellos puedan están actualizando la información de sus animales ya sea en su estado o en sus momentos conmemorables que hayan 
                Pasado juntos durante el trayecto de su vida.
              
              </p>
              <p class="about-text">
                También se les brindara a los usuarios ayudantia de veterinarios sobre el cuidado de sus animales o que hacer cuando el animal sufra alguna enfermedad o Problema graves.

              </p>

            </div>
          </div>
        </div>
      </section>
    
      <!--==========================
      Services Section
      ============================-->
      <section id="services">
        <div class="container wow fadeInUp">
          <div class="row">
            <div class="col-md-12">
              <h3 class="section-title">Nuestros Servicios</h3>
              <div class="section-title-divider"></div>
              <p class="section-description">Definicion de todo los servicios que le podemos ofrecer a los usuarios</p>
            </div>
          </div>
    
          <div class="row">
            <div class="col-md-4 service-item">
              <div class="service-icon"><i class="fa fa-desktop"></i></div>
              <h4 class="service-title"><a href="">Interfaz Interactiva</a></h4>
              <p class="service-description">Dispone de una interfaz facil de entender a cualquier tipo de usuario de manera que pueda interactuar con esta.</p>
            </div>
            <div class="col-md-4 service-item">
              <div class="service-icon"><i class="fa fa-bar-chart"></i></div>
              <h4 class="service-title"><a href="">Sistema Excelente </a></h4>
              <p class="service-description">Disponemos de un sistema confiable para darle mayor seguridad al usuario. </p>
            </div>
            <div class="col-md-4 service-item">
              <div class="service-icon"><i class="fa fa-paper-plane"></i></div>
              <h4 class="service-title"><a href="{% url 'testimonio' %}">Testimonios</a></h4>
              <p class="service-description">Dispondra de un apartado de testimonios lo cual los usuarios podran estar en contacto entre ellos mismo dejando un mensaje 
                respectivo. </p>
            </div>
            <div class="col-md-4 service-item">
              <div class="service-icon"><i class="fa fa-photo"></i></div>
              <h4 class="service-title"><a href="{% url 'college' %}">Collage</a></h4>
              <p class="service-description">Apartado donde se visualizara imagenes de animales y animales en adopción.</p>
            </div>
            <div class="col-md-4 service-item">
              <div class="service-icon"><i class="fa fa-road"></i></div>
              <h4 class="service-title"><a href="{% url 'veterinarios' %}">Veterinarios</a></h4>
              <p class="service-description">En esta sección se ofrecera al usuario disponer de la dirección de las mejores veterinarios del pais </p>
            </div>
            <div class="col-md-4 service-item">
              <div class="service-icon"><i class="fa fa-shopping-bag"></i></div>
              <h4 class="service-title"><a href="{% url 'animalcosas' %}">Implementos Para Animales</a></h4>
              <p class="service-description">En este sección se ofrecera elementos sobre su animal especialmente accesorios(Juguetes,Prendas,Casas y otros)</p>
            </div>
          </div>
        </div>
      </section>
    
    
      <!--==========================
      Team Section
      ============================-->
      <section id="team">
        <div class="container wow fadeInUp">
          <div class="row">
            <div class="col-md-12">
              <h3 class="section-title">Nuestro Team</h3>
              <div class="section-title-divider"></div>
              

              
            </div>
          </div>
    
          <div class="row">
            <div class="col-md-3">
              <div class="member">
               <!--<div class="pic"><img src="{% static 'img/team-1.jpg' %}" alt=""></div>-->
                <h4>Carlos Escarez</h4>
                <span>Product Owner</span>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  
                  
                </div>
              </div>
            </div>
    
            <div class="col-md-3">
              <div class="member">
               <!-- <div class="pic"><img src="img/team-2.jpg" alt=""></div> -->
                <h4>Christian Aravena</h4>
                <span>Scrum Master</span>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                 
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="member">
                <!--<div class="pic"><img src="img/team-2.jpg" alt=""></div> -->
                <h4>Paola Arcos</h4>
                <span>Developer</span>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                 
                </div>
              </div>
            </div>
    
            <div class="col-md-3">
              <div class="member">
                <!--<div class="pic"><img src="img/team-3.jpg" alt=""></div>-->
                <h4>Sebastian Garcia y Benjamin Espinoza</h4>
                <span>Developer</span>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  a>
                </div>
              </div>
            </div>
    
            
          </div>
        </div>
      </section>
    
      


{% endblock %}