<!DOCTYPE html>
<html>


{% load static %}
	<title></title>

	<link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<script type="text/javascript">

function c1(){
document.getElementById('vtipo').value="Perro";
};

function c2(){
document.getElementById('vtipo').value='Gato';	
};

function c3(){
document.getElementById('vtipo').value='Otro';	
};


function saves(){




	
}	

function cambiarcolor(){
if(document.getElementById('cuerpa').background!="{% static 'images/fondo2.jpg' %}")
{
 document.getElementById('cuerpa').background="{% static 'images/fondo2.jpg' %}";
 
  document.getElementById('sols').src="{% static 'images/sol.png' %}";
  document.getElementById('sols').style.border='black 2px solid';
  document.getElementById('infou').style.color='white';
  document.getElementById('infou').style.backgroundColor='rgba(0,1,1,0.5)';
  document.getElementById('txtnom').style.color='white';
  document.getElementById('txtnom').style.backgroundColor='black';
   document.getElementById('ifile').style.color='white';
  document.getElementById('ifile').style.backgroundColor='black';
  document.getElementById('tmasc').style.color='white';
  document.getElementById('lotro').style.color='white';
  document.getElementById('ltipo').style.color='white';
  document.getElementById('formulario').style.backgroundColor='rgba(0,1,1,0.5)';
  document.getElementById('verificacolor').value='b'

var sel = document.getElementById("combo");  
var l = false;
for (var i = 0; i < sel.length; i++) {
    var opt = sel[i];
document.getElementById(opt.value).style.backgroundColor='rgba(0,1,1,0.5)';
document.getElementById(opt.value).style.color='white';
}

}
else
{
document.getElementById('cuerpa').background="{% static 'images/fondo1.jpg' %}";

   document.getElementById('sols').src="{% static 'images/wsol.png' %}";
    document.getElementById('sols').style.border='white 2px solid'
    document.getElementById('infou').style.color='black';
    document.getElementById('infou').style.backgroundColor='rgba(250, 223, 223,0.4)';
    document.getElementById('formulario').style.backgroundColor='rgba(250, 223, 223,0.4)';
    document.getElementById('txtnom').style.color='black';
  document.getElementById('txtnom').style.backgroundColor='white';
   document.getElementById('ifile').style.color='black';
  document.getElementById('ifile').style.backgroundColor='white';
    document.getElementById('tmasc').style.color='black';
    document.getElementById('lotro').style.color='black';
  document.getElementById('ltipo').style.color='black';
  document.getElementById('verificacolor').value='w'

var sel = document.getElementById("combo");  
var l = false;
for (var i = 0; i < sel.length; i++) {
    var opt = sel[i];
document.getElementById(opt.value).style.backgroundColor='rgba(250, 223, 223,0.4)';
document.getElementById(opt.value).style.color='black';
}

}


 
}
function cambiarcolor2(){
if(document.getElementById('verificacolor').value=='b')
{
 document.getElementById('cuerpa').background="{% static 'images/fondo2.jpg' %}";
 
  document.getElementById('sols').src="{% static 'images/sol.png' %}";
  document.getElementById('sols').style.border='black 2px solid';
  document.getElementById('infou').style.color='white';
  document.getElementById('infou').style.backgroundColor='rgba(0,1,1,0.5)';
  document.getElementById('txtnom').style.color='white';
  document.getElementById('txtnom').style.backgroundColor='black';
   document.getElementById('ifile').style.color='white';
  document.getElementById('ifile').style.backgroundColor='black';
  document.getElementById('tmasc').style.color='white';
  document.getElementById('lotro').style.color='white';
  document.getElementById('ltipo').style.color='white';
  document.getElementById('formulario').style.backgroundColor='rgba(0,1,1,0.5)';
  document.getElementById('verificacolor').value='b'

var sel = document.getElementById("combo");  
var l = false;
for (var i = 0; i < sel.length; i++) {
    var opt = sel[i];
document.getElementById(opt.value).style.backgroundColor='rgba(0,1,1,0.5)';
document.getElementById(opt.value).style.color='white';
}

}
else
{
document.getElementById('cuerpa').background="{% static 'images/fondo1.jpg' %}";

   document.getElementById('sols').src="{% static 'images/wsol.png' %}";
    document.getElementById('sols').style.border='white 2px solid'
    document.getElementById('infou').style.color='black';
    document.getElementById('infou').style.backgroundColor='rgba(250, 223, 223,0.4)';
    document.getElementById('formulario').style.backgroundColor='rgba(250, 223, 223,0.4)';
    document.getElementById('txtnom').style.color='black';
  document.getElementById('txtnom').style.backgroundColor='white';
   document.getElementById('ifile').style.color='black';
  document.getElementById('ifile').style.backgroundColor='white';
    document.getElementById('tmasc').style.color='black';
    document.getElementById('lotro').style.color='black';
  document.getElementById('ltipo').style.color='black';
  document.getElementById('verificacolor').value='w'

var sel = document.getElementById("combo");  
var l = false;
for (var i = 0; i < sel.length; i++) {
    var opt = sel[i];
document.getElementById(opt.value).style.backgroundColor='rgba(250, 223, 223,0.4)';
document.getElementById(opt.value).style.color='black';
}

}


 
}

function aparecerform(){
if(document.getElementById('formulario').hidden==true){
document.getElementById('formulario').hidden=false;
document.getElementById('btnform').src="{% static 'images/crossico.png' %}";
}
else
{
document.getElementById('formulario').hidden=true;	
document.getElementById('btnform').src="{% static 'images/plusico.png' %}";
}	

}
 

</script>	

<style type="text/css">
.cuadro{
	
margin-top: 2%;text-align: left;
border-bottom: 6px solid rgb(76, 160, 240);
border-right: 6px solid rgb(117, 242, 247);     
background-color: rgba(250, 223, 223,0.4);
width: 50%;
box-shadow: 10px 10px 8px #888888;
height: 80%;
}	
.cuadro2{
	
margin-top: 2%;text-align: left;

width: 50%;

height: 80%;
}	

</style>	
<body onload="cambiarcolor2()" id="cuerpa" >
	     <select hidden  id="combo">
{% if mascotas  %}
{% for x in mascotas %}
 <option value="{{x.Nombre}}" >{{x.Rut}}</option>   
{% endfor %}
{% endif %}
</select>


<div class="rounded" style="display:inline-block; padding-right: 20px; padding-left: 10px; background-color:rgba(250, 223, 223,0.4);" id="infou">
	{{due.Nombre}}
	{{due.nombre2}}
	{{due.Apellidop}}
	{{due.Apellidom}}
	{{due.Rut}}
	<img width="20" height="20" src="{% static 'images/userico.png' %}">
</div>	
<br>

<img id="sols" style=" margin-left: 20px; cursor: pointer; border-radius: 50%;  border: white 2px solid;" onclick="cambiarcolor()"width="25" height="25" src="{% static 'images/wsol.png' %}">

<img id="sols" style=" margin-left: 20px; cursor: pointer ; float: left; "width="25" height="25" src="{% static 'images/chatico.png' %}">

<div class="container cuadro2" style="text-align: right;" >
	<img id="btnform" onclick="aparecerform()" style="border-radius: 50%;  cursor: pointer;" class="rounded circle
		" width="50" height="50" src="{% static 'images/plusico.png' %}">
</div>	
<h1 id="tmasc" style="text-align: center;" >Mascotas</h1>

<div hidden class="container cuadro"  id="formulario">
	<form action="/registrar/" method="POST" enctype="multipart/form-data">
		{% csrf_token%}
		<input hidden type="text" id="verificacolor" value="{{coll}}" name="verificacolor">
	<br>
	<input name="txtnom" id="txtnom"  type="text" class="form-control" placeholder="Nombre">
	<br>
	<label id="ltipo">Tipo de mascota</label>
	<br>
	<input onclick="c1()" type="radio" name="raded">
	<img height="25" width="25" src="{% static 'images/perroico.png' %}">
	<input onclick="c2()"type="radio" name="raded">
	<img height="25" width="25" src="{% static 'images/gatoico.png' %}">
	<input onclick="c3()" type="radio" name="raded">
	<label id="lotro">Otro</label>
	<input hidden type="text" id="vtipo" name="vtipo">
	<input hidden type="text" value="{{due.Rut}}" id="vdueño" name="vdueño">
	<input id="ifile"  name="ifile" type="file" class="form-control" >
	<img hidden width="20" height="20" src="{% static 'images/gatoico.png' %}">
	<br>
	<input style=" margin-right: 10%;"  class="btn btn-primary" type="submit" value="Guardar" name="enviar">
	<br>
	</form>
</div>

{% for f in mascotas %}

<div id="{{f.Nombre}}" class="container cuadro">
	<button style="float: right;" >eliminar</button>
	<button style="float: right;" >editar</button>
<h5>Nombre: {{f.Nombre}}</h5>
<h5>Tipo: {{f.Tipo}}</h5>
<img  style="border-radius: 20%; border: silver 5px solid;"  src="{{f.foto.url}}" height="100" width="100">

</div>
{% endfor %}

</body>
</html>