{% extends "base_generic.html" %}

{% block content %}

    {% load static %}

 <!--==========================
      Testimonials Section
      ============================-->
      <section id="testimonials">
        <div class="container wow fadeInUp">
          <div class="row">
            <div class="col-md-12">
              <h3 class="section-title">Testimonios</h3>
              <div class="section-title-divider"></div>
              <p class="section-description">textoo pruebaae.</p>
            </div>
          </div>
    
          <div class="row">
            <div class="col-md-3">
              <div class="profile">
                <div class="pic"><img src="{% static 'img/client-1.jpg' %}" alt=""></div>
                <h4>Saul Goodman</h4>
                <span>Lawless Inc</span>
              </div>
            </div>
            <div class="col-md-9">
              <div class="quote">
                <b><img src="{% static 'img/quote_sign_left.png' %}" alt=""></b> textoo pruebaae. <small><img src="img/quote_sign_right.png" alt=""></small>
              </div>
            </div>
          </div>
    
          <div class="row">
            <div class="col-md-9">
              <div class="quote">
                <img src="{% static 'img/quote_sign_left.png' %}" alt=""> textoo pruebaae. <small><img src="img/quote_sign_right.png" alt=""></small>
              </div>
            </div>
            <div class="col-md-3">
              <div class="profile">
                <div class="pic"><img src="{% static 'img/client-2.jpg'%}" alt=""></div>
                <h4>Sara Wilsson</h4>
                <span>Odeo Inc</span>
              </div>
            </div>
          </div>
    
          <div class="row">
            <div class="col-md-3">
              <div class="profile">
                <div class="pic"><img src="{% static 'img/pe2.jpg' %}" alt=""></div>
                <h4>Saul Goodman</h4>
                <span>Lawless Inc</span>
              </div>
            </div>
            <div class="col-md-9">
              <div class="quote">
                <b><img src="{% static 'img/quote_sign_left.png' %}" alt=""></b> textoo pruebaae. <small><img src="img/quote_sign_right.png" alt=""></small>
              </div>
            </div>
          </div>

        </div>




        
      </section>






    {% endblock %}