{% extends "base_generic.html" %}

{% block content %}

    {% load static %}

    <section id="testimonials">
      <div class="container wow fadeInUp">
        <div class="row">
          <div class="col-md-12">
            <h3 class="section-title">Veterinarios</h3>
            <div class="section-title-divider"></div>
            <p class="section-description">En esta sección podra encontrar los mejores veterinarios para el cuidado de su mascota.</p>
          </div>
        </div>
  
        <div class="row">
          <div class="col-md-3">
            <div class="profile">
              <div class="pic"><img src="{% static 'img/vet/Logo1.jpg' %}" alt=""></div>
              <h4>HVS ⭐</h4>
              <span>Hospital Veterinario de Santiago</span>
            </div>
          </div>
          <div class="col-md-9">
            <div class="quote">
              <b><img src="{% static 'img/vet/quote_sign_left.png' %}" alt=""></b> El Hospital Veterinario de Santiago (HVS) es una institución con un fuerte compromiso con la excelencia. 
                                                                        Nuestros profesionales se capacitan constantemente para otorgar un servicio de alta calidad. 
                                                                        <small><img src="img/vet/quote_sign_right.png" alt=""></small>
                                                                                      
            </div>
            <br>
            <p><a class="btn btn-secondary" href="https://www.hvs.cl/" target="_blank" role="button"> Saber Más &raquo;</a></p>
          </div>
        </div>
  
        <div class="row">
          <div class="col-md-9">
            <div class="quote">
              <img src="{% static 'img/vet/quote_sign_left.png' %}" alt=""> Somos un equipo Multidisciplinario de Médicos Veterinarios y personal capacitado para la atención integral de las mascotas, 
                      con el fin de reestablecer, mejorar y preservar su salud, así como prevenir y evitar las enfermedades que puedan adquirir.
                      A través de una atención de calidad, humanismo, 
                      compromiso y honradez de los servicios,
                      con los recursos adecuados para garantizar el bienestar animal y la satisfacción humana. <small><img src="img/vet/quote_sign_right.png" alt=""></small>
               
            </div>

            <br>
            <p><a class="btn btn-secondary" href="https://veterinariaguauymiau.cl/" target="_blank" role="button"> Saber Más &raquo;</a></p>

          </div>
          <div class="col-md-3">
            <div class="profile">
              <div class="pic"><img src="{% static 'img/vet/guaumiau.jfif'%}" alt=""></div>
              <h4>Guau Miau ⭐</h4>
              <span>Clínica Veterinaria</span>
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="col-md-3">
            <div class="profile">
              <div class="pic"><img src="{% static 'img/vet/cvms.png' %}" alt=""></div>
              <h4>CVMS ⭐</h4>
              <span>ClÍnica Veterinaria Mascotas Santiago </span>
            </div>
          </div>
          <div class="col-md-9">
            <div class="quote">
              <b><img src="{% static 'img/quote_sign_left.png' %}" alt=""></b> Clínica Veterinaria Mascotas Santiago nace con el propósito de ser un centro veterinario en el cual se encuentra 
              el mejor servicio, 
              poniendo a su disposición el conocimiento, 
              cariño y respeto que ellas se merecen.
              Nuestro equipo de profesionales se compone de especialistas en medicina general, patología clínica, traumatología, neurología, imagenología, entre otras.
               Con vocación y compromiso en el cuidado de sus pacientes. 
              <small><img src="img/quote_sign_right.png" alt=""></small>
            </div>

            <br>
            <p><a class="btn btn-secondary" href="https://cvms.cl/" target="_blank" role="button"> Saber Más &raquo;</a></p>
            
          </div>
        </div>

      </div>
      <br><br>
  
      <div class="container wow fadeInUp">
        <div class="row">
          <div class="col-md-12">
            <h3 class="section-title">Otras Veterinarias</h3>
            <div class="section-title-divider"></div>
            <p class="section-description"> </p>
          </div>
        </div>
  
        <div class="row">
          <div class="col-md-3">
            <div class="profile">
              <div class="pic"><img src="{% static 'img/vet/rav1233.png' %}" alt=""></div>
              <h4>RAV ⭐</h4>
              <span>Red De Atención Veterinaria Universidad De Chile </span>
            </div>
          </div>
          <div class="col-md-9">
            <div class="quote">
              <b><img src="{% static 'img/vet/quote_sign_left.png' %}" alt=""></b>Red De Atención Veterinaria Universidad De Chile, Nuestros Hospitales cuentan con variada lista de servicios y procedimientos médicos, todos integrados en nuestra Red de atención. 
                    Tambien por otra parte Contamos con un amplio servicio de especialidades y un Staff profesional de planta altamente preparado para asistir a nuestros pacientes en todas sus necesidades.

                                                                        <small><img src="img/vet/quote_sign_right.png" alt=""></small>
            </div>

            <br>
              <p><a class="btn btn-secondary" href="https://www.ravuchile.cl/" target="_blank" role="button"> Saber Más &raquo;</a></p>

          </div>
        </div>
  
        <div class="row">
          <div class="col-md-9">
            <div class="quote">
              <img src="{% static 'img/vet/quote_sign_left.png' %}" alt=""> Equipo Médico Clínica Veterinaria Bon Amie tiene como principal obligacion y misión es 
              brindarle siempre la mejor atención contamos un excelente staff de médicos veterinarios, preocupados de la salud, el bienestar y de entregarles siempre a su mascota los cuidados que necesitan.
              <small><img src="img/vet/quote_sign_right.png" alt=""></small>

            </div>

            <br>
            <p><a class="btn btn-secondary" href="https://veterinariabonamie.cl/" target="_blank" role="button"> Saber Más &raquo;</a></p>

          </div>
          <div class="col-md-3">
            <div class="profile">
              <div class="pic"><img src="{% static 'img/vet/bonamie.jpeg'%}" alt=""></div>
              <h4>Bon Amie ⭐</h4>
              <span>Clínica Veterinaria</span>
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="col-md-3">
            <div class="profile">
              <div class="pic"><img src="{% static 'img/vet/pichichu1.jpg' %}" alt=""></div>
              <h4>Pichichus ⭐</h4>
              <span>Clínica Veterinaria</span>
            </div>
          </div>
          <div class="col-md-9">
            <div class="quote">
              <b><img src="{% static 'img/quote_sign_left.png' %}" alt=""></b> Nosotros Somos un grupo de profesionales que llevamos más de 13 años dedicados a la atención integral de su mascota, 
              entregando también orientación y tranquilidad a sus dueños. 
              Nuestro equipo profesional está formado por: 
              Veterinaria: Dra. Carmen Luz Cubillo Gómez
              Veterinaria: Dra. Alejandra Moya Cepeda
              Ambas doctoras tituladas de la Universidad de Chile.
              
               <small><img src="img/quote_sign_right.png" alt=""></small>
            </div>

            <br>
            <p><a class="btn btn-secondary" href="http://www.pichichus.cl/" target="_blank" role="button"> Saber Más &raquo;</a></p>
            
          </div>
        </div>

      </div>

    </section>


 {% endblock %}