{% extends "base_generic.html" %}

{% block content %}


<section id="contact">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 id="titu_formu" class="section-title">Únete a Dooggosalvatagio</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">Si quieres unirte a esta comunidad solo rellena los campos a continuación.</p>
        </div>
      </div>


        <div class="col-md-8 col-md-push-2">
          <div class="form">
            <div id="sendmessage">Te has registrado correctamente!.</div>
            <div id="errormessage"></div>
            <form action="" class="formusuarios" id="formusuarios" method="POST" role="form">
                {% csrf_token %}
              <div class="form-group">
                {{form.Rut }}           
                 <div class="validation"></div>
              </div>
              <div class="form-group">
                {{form.Nombre }}                
                <div class="validation"></div>
              </div>
              <div class="form-group">
                {{form.Apellidop }}                
                <div class="validation"></div>
              </div>
              <div class="form-group">
                {{form.Direccion }}
                <div class="validation"></div>
              </div>
              <div class="form-group">
                {{form.Contraseña }}
                <div class="validation"></div>
              </div>
              <div class="form-group">
                {{form.Email }}
                <div class="validation"></div>
              </div>
              <div class="form-group">
                {{form.Edad }}
                <div class="validation"></div>
              </div>
              <div class="form-group">
                {{form.Tipo_usuario }}
                <div class="validation"></div>
              </div>
              <div class="text-center"><button type="submit">Registrar Comenrario </button></div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </section>



{% endblock %}